<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Vision</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body style="background-color:powderblue;">
        <h1 align="center">VISION PAGE</h1>
        </body>
        <p>Your vision of a future situation or society is what you imagine or hope it would be like, if things were very different from the way they are now.</p>
        <p>If you have a vision of someone in a particular situation, you imagine them in that situation, for example because you are worried that it might happen, or hope that it will happen.</p>
        <p>A vision is the experience of seeing something that other people cannot see, for example in a religious experience or as a result of madness or taking drugs.</p>
        
        <img src="https://arcolift.com/portal/images/Vision-PNG-Image.png" >
        <script src="" async defer></script>
    </body>
</html>